*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#post{
   margin: 2rem;
   padding: 1rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   
}

#postImg{
    width: 50%;
    margin-bottom: 1rem;
  
}